html{
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
}

// ******************
// Header section start
// ******************
@font-face {
    font-family: myFirstFont;
    src: url(../light.ttf);
  }
header{
    background-color: #010101;
    height: 80px;
    line-height: 80px;
    nav{
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .input-box{
            outline: none;
            font-size: .9em;
            padding: 6px;
            border: none;
            opacity: 0;
            margin-right: 8px;
            background-color: #010101;
            transition: ease-in .1s;
            &::placeholder{
                color: rgba(255, 255, 255, 0.705);
            }
            &:focus{
                border-bottom: 1px solid #ffffff;
                
            }
                
        }
        .fa-search{
            cursor: pointer;
            color: white;
        &:hover{
            transform: rotateZ(-20deg);
            transition: all .4s;
        }
        }
        .logo{
            font-weight: 500;
            font-size: 2.5em;
            transform: translateX(-10%);
            cursor: default;
        }
        .menu-bar{
            display: flex;
        }
        .menu{
            height: 40px;
            width: 40px;
            position: relative;
            line-height: 80px;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 3px;
            opacity: .9;
            &:hover{
                opacity: 1;
            }
            span{
                position: absolute;
                width: 25px;
                height: 3px;
                background-color: white;
                border-radius: 2px;
                top: 45%;
                left: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    top: -8px;
                    left: -10px;
                    background-color: #fff;
                    height: 3px;
                    width: 25px;
                    transition: 0.3s;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -8px;
                    background-color: #fff;
                    height: 3px;
                    width: 25px;
                    transition: 0.3s;
                }
            }
            

        }
        .menu-ops{
            transform: translateY(-20%);
            transition: all .2s;
            a{
                color: white;
                margin: 0 15px;
                letter-spacing: 1.5px;
                opacity: .9;
                &:hover{
                    border-bottom: 1px solid white;
                    transition: linear .2s;
                    opacity: 1;
                }
            }
        }
    }
}
// ******************
// Header section end
// ******************
@import "top";
@import "about";
@import "video";
@import "imgslide";
@import "contact";
@import "res";